.quienes__descripcion{
    color: gray;
    font-size: 1.7rem;
    font-weight: 200;
    padding: 0 5rem;
    line-height: normal;
}

/* RESPOSIVE */
@media screen and (min-width: 0px){
    .quienes__descripcion{
        font-size: 1.6rem;
    }
}

@media screen and (min-width: 768px){
    .quienes__descripcion{
        font-size: 1.7rem;
    }
}