.rodapie{
    display: flex;
    align-items: center;
}

/* RESPONSIVE */
@media screen and (min-width: 0px) {
    .rodapie{
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .rodapie{
        flex-direction: row;
        justify-content: space-around;
    }
}