.receta{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    margin-right: 5rem;
    width: 20rem;
    border-radius: 10px;
}

/* RESPONSIVE */

@media screen and (min-width: 0px){
    .receta{
        width: 100%
    }
}

@media screen and (min-width: 768px){
    .receta{
        margin-right: 2.5rem;
        width: calc(47.5% - 2.5rem);
    }
}

@media screen and (min-width: 992px){
    .receta{
        margin-right: 5rem;
        width: calc(33% - 5rem);
    }
}